<!--lottery/templates/index.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index/styles.css' %}">
    <style>
    .lottery-close-time {
    border: 3px solid red;
    background-color: red;
    border-radius: 10px;
    font-size: 12px; /* ขนาดตัวหนังสือ */
    color: white; /* สีตัวหนังสือ */
    }
    /* css/index/styles.css */
    .link-card {
    display: block;
    border-radius: 5px;
    text-align: left;
    background-color: blue;
    text-decoration: none;
    color: inherit;
}

    .link-card:hover {
    background-color: green;
}

    </style>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="content p-4">
        {% for lottery_type, lotteries in lotteries_by_type.items %}
        <h4 class="mt-4">{{ lottery_type.name }}</h4>
        <hr>
        <div class="row g-3">
            {% for lottery in lotteries %}
            <div class="col-md-6 col-lg-4">
                <a href="{% url 'lottery_detail' pk=lottery.pk %}" class="link-card">
                    <div class="card p-3 border">
                        <div class="d-flex align-items-center">
                            {% if lottery.image %}
                            <img src="{{ lottery.image.url }}" alt="{{ lottery.name }}" class="me-2" width="50" height="50">
                            {% else %}
                            <img src="{% static 'images/default-lottery.png' %}" alt="{{ lottery.name }}" class="me-2" width="40">
                            {% endif %}
                            <div class="card-content">
                                <h5 class="mb-0">{{ lottery.name }}</h5>
                                <small class="lottery-close-time">ปิดรับ: {{ lottery.close_time }}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p>ไม่มีข้อมูลหวยในประเภทนี้</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
